{% extends 'base.html.twig' %}

{% block title %}Whisky{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
<p> {% include 'kijkmama.html.twig' only %} cooking! </p>
{% endblock %}
{% block javascripts %}{% endblock %}
