{% extends 'base.html.twig' %}

{% block title %}Music{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
<p> kijk mama, een html twig over muziekjes! </p>
{% endblock %}
{% block javascripts %}{% endblock %}
